body {
    font-family: "Arial";
    font-color: #2e2e2e;
}

h1 {
    text-align: center;
}

button {
    background-color: #8092ff;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

div {
    margin: auto;
    width: auto;
    max-width: 800px;
    margin-bottom: 30px;
}

input, textarea {
    font-size: 13px;
    padding: 5px;
    width: 100%;
}